
/* CSS for the main page */

body {
  background-image: linear-gradient(to bottom right, rgb(247, 247, 34), rgb(151, 107, 53));
  height: 100vh;
  font-size: 1.2em;
}

.title {
  color: brown;
}

.burger-img {
  width: 10%;
  height: 10%;
}

#right-col {
  font-size: 0.9em;
  font-style: italic;
  opacity: 0.75;
}